# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
mvenv/

# Jupyter notebook artifacts
.ipynb_checkpoints/

# Environment variables
.env

# Ignore all CSVs EXCEPT final dataset + chunk folder
*.csv
!data/full_dataset_with_estimated_prices.csv
!data/recipe_chunks/

# Editors
.vscode/
.idea/

# macOS
.DS_Store

